ul{
    list-style-type: none;
    overflow: hidden;
    margin-top: -40px;
}
li {
    float: right;
    margin: 5px;
}

li a {
    display: block;
    color: blue;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    top: 100px;
}


li a:hover {
    background-color: #020101;
    color: white;
}

nav {
    background-color: #72bce0;
}

#boksi {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

